.register-form {
    height: 100vh;
    width: 50vw;
    background-color: #fff;
    padding: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.register-form_subtitle1 {
    color: rgb(180,184,193);
}

.register-form-form {
    height: 100vh;
    width: 26.5vw;
}